 /*Colors  
          
    $black:#353535;
    $gray: #4f4f4f;
        $medium-gray #737373;
        $light-gray: #c4c4c4;
        $orange: #f96855;
        
        /**/
  
        
        /*General styles*/
        * {box-sizing: border-box;}
        
        .cont-grid
        {
            background: #353535;
        color: gray;
            font-family:   sans-serif;
            font-size: 1.2rem;
            line-height: 1.45;
            display: flex; 
            flex-wrap: wrap;
        }
        
        
        .main-content{
            padding: 2%;
            flex: 1 1 100%;
            min-height: 150vh;
        }
        
        /*porfolio*/
        .portfolio{
            display: grid;
            height: 100%;
            
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
           
            grid-auto-rows: minmax(400px, 1fr);
        }
.medium{
    grid-column: span 2;
}
.three, .six{padding-top: 64px;  
}


        .portfolio-item{
            color: #4f4f4f;
            font-weight: #737373;
             display: flex;
            justify-content: space-around;
            align-items: center;
            
        }
 .portfolio-item2{
            background: #f96855;
            color: #4f4f4f;
            font-weight: #737373;
      }
.portfolio-item2 > p{
    font-size: 17px;
}
@media (max-width: 780px){
     .portfolio{
            display: grid;
            height: 100%;
            
            grid-template-rows: minmax(150px, 1fr);
            grid-template-columns: repeat(1, 1fr);
                grid-gap: 20px;
         
         
            grid-auto-rows: minmax(200px, 1fr);
            grid-auto-columns: minmax(150px, 1fr);
            grid-auto-flow:  dense;
         
         text-align: justify;
         
        }
}
 
  
 
.five{
            background-image: url(../img/palermo/3.jpg);
}

        .two, .three, .four, .one, .five, .six{
            
          background-blend-mode: multiply; /*junto con el back-color*/
            background-color: #353535;;
            
            color:#c4c4c4;
            background-size: cover;
            background-position: top left;
                
            transition: all ease-in-out 300ms;
            position: relative;
 }
        
        .two:hover, .six:hover, .one:hover, .four:hover, .five:hover, .three:hover{
        background-blend-mode: initial;
            background-position: center;
             }
        .two::before{
            content: '';
            display: block;
          background: :#353535;
            opacity: 0.8;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            
           
         }
 
   /**/
#grid-2 img{
    width: 100%;
    height: 100%;
    display: block;
      border: 12px solid green;
          border-radius: 120px; 
    
}
  #grid-2 {
            display: grid;
            grid-gap: 5px;
            height: 100%;
            
               grid-template-columns: repeat(auto-fill, minmax(320px, 2fr));
      
                     grid-template-rows: 335px 335px;

        }
        
        #grid-2  > div{
          
             color: white;
        }

/**//**//**//**//**//**//**//**/

/**/

   .main2{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
       
                     grid-template-rows: 355px 305px;
 
     grid-auto-rows: 305px;  
            grid-gap: 5px;
        }
      .main2  img{
            display: block;
            width: 100%;
            height: 100%;
            box-shadow: -1px 10px 0px rgba(0,0,0,0.06);
            border: 12px solid;
          border-radius: 120px; 
        }


/**//**//**//**//**//**//**//**//**
    /*FOOTER*/
#main-footer{padding: 2em; background: #000;color: #fff; text-align: center;}

#main-footer a{color: #2690d4; text-decoration: none;}
        
         .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }